/*Global Styles*/

#learned{
    font-family: 'Open Sans', sans-serif;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}
  
  #paragraph{
    border: 1px solid black;
    padding: 5px;
  }
  



  /*Nav*/
  
  .nav {
    display: inline-block;
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #333;
    text-align: center;
  }
  
  .nav li {
    display: inline-block;
  }
  
  li a {
    display: block;
    /* border: 1px solid red; */
    margin: 5px 15px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; 
  }

  #nav{
    text-align: center;
  }


  /*Banner*/

  #hero-banner{
    background-image: url("./img/Banner.jpg");
    height: 310px;
      
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  
  }
  
  #banner-text{

    font-weight: bold;
    font-size: 1.9rem;
    width:300px;
    height:150px;
    background-color: #ffede4;
    padding: 20px;
    color: black;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
  }

  .btn{
    display: block;
    margin: 15px auto;
    padding: 10px 40px;
    background-color: black;
    color: #fff;
    border-style: none;
  }
  
/*sections*/

.section-container {
  margin: 10px 5%;

  padding: 0px 0px 40px 0px;
  border-bottom: 1px solid grey;
}

.section-heading{
  text-align: center;
}

.services-card{
  display: block;
  width: 50px;
}

.card-row{
  display: flex;
  justify-content: space-between;
}

.card-row img {
 width: 300px; 
 height: 340px;
 object-fit: cover;
 /* object-position: bottom; */
}

.card-title{
  text-align: center;
}

/*Blog Card*/

.blog-card-title{
  border-bottom: 1px solid grey;
  padding-bottom: 5px;
}

.blog-card-title h2{
 margin-bottom: 10px;
}

.blog-card{
  background-color: rgb(193, 207, 168);
  display: block;
  width: 180px;
  padding: 0px 20px;
}

.blog-card-body p {
  text-align: left;
}


/*Team*/
#team .blog-card{
  background-color: rgb(252, 223, 198);
}

#team-card {
  width: 70%;
  padding-right: 20px;
}

#team-card img{
  object-fit: cover;
  width: 100%;
  height: 460px;
}

#team .card-row .blog-card{
  width: 26%;
  padding: 30px;

}


/*Footer*/

.footer{
  height: 100px;
}

#footer-row{
  height: 100px;
}

#input-row input{
  padding: 0px;
  width: 250px;
}

#input-row .btn{
  margin: 0px;
  height: auto;
  padding: 2px 20px;
}

#input-row{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  height: 40px;
  /* height: 30px; */
}